/* Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Add styles for high scores link */
#high-scores-link-container {
    text-align: center;
    margin-top: 20px;
}

#high-scores-link {
    color: #3498db;
    text-decoration: none;
    font-size: 18px;
}

#high-scores-link:hover {
    text-decoration: underline;
}

/* Quiz Container Styles */
#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*  Quiz Header Styles */
#quiz-header {
    position: relative;
    text-align: center;
    background-color: #3498db;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    color: #fff;
}

/* Start Button Styles */
#start-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Quesiton Container Styles */
#question-container {
    margin-top: 20px;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
}

/*  Options Button Styles */
.options button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Options Button Hover Styles */
.options button:hover {
    background-color: #2980b9;
}

/* Result Container and Score Container Styles */
#result-container, #score-container {
    margin-top: 20px;
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
}

/* Answer Feedback Styles */
#answer-feedback {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Hide Class Styles */
.hide {
    display: none;
}

/* Submit Button Styles */
#submit-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Submit Button Hover Styles */
#submit-btn:hover {
    background-color: #27ae60;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Timer Display Styles */
#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #fff;
}